.background-image {
	-webkit-filter: blur(10px);
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}

.facebook-login {
	height:50px;
	width:230px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	position:absolute;
}

.profile-picture {
	border-radius: 999px;
	border:5px solid #567;
}